---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="favicon test" bodyClass="page-home">
  <main class="content wrapper">
    <div class="alol">
      <h1 class="midashi">favicon test</h1>
      <p class="sentences">
        <img src="/favicon.png?v=lake-20260617" alt="favicon png" width="128" height="128" />
        <br />
        /favicon.png?v=lake-20260617
      </p>
      <p class="sentences">
        <img src="/favicon.ico?v=lake-20260617" alt="favicon ico" width="128" height="128" />
        <br />
        /favicon.ico?v=lake-20260617
      </p>
      <p class="sentences">
        <img src="/icon/lake.png" alt="lake" width="128" height="128" />
        <br />
        /icon/lake.png
      </p>
    </div>
  </main>
</BaseLayout>
