---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout bodyClass="page-main-blog">
  <main class="content wrapper">
    <div class="alol">
      <h1 class="midashi">記事一覧</h1>
      <p class="sentences">
        記事一覧は<a href="/posts/">こちら</a>に移動しました。
      </p>
    </div>
  </main>
</BaseLayout>
