---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout bodyClass="page-pk-blog">
  <main class="content wrapper">
    <div class="alol">
      <p class="midashi">構築記事・対戦記録</p>
      <p class="sentences">Coming Soon</p>
    </div>
  </main>
</BaseLayout>
